<div class="container" id="dashboard-section" hx-swap-oob="true">
    <div class="row">
        <div class="col">
            <h5>{{.Timer.Name}}</h5>
            <hr />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Small Blind</th>
                        <th>Big Blind</th>
                        <th>Ante</th>
                        <th>Duration (minutes)</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                {{template "partials/timer/levels" .Timer}}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-flex justify-content-around">
                <!-- <button hx-post="{{/*route "partials-dashboard-timer-levels" "timerID" .Timer.ID*/}}" type="submit" class="btn btn-sm btn-info">Save Blinds</button> -->
                <button hx-get="{{route "partials-dashboard-timer-level" "timerID" .Timer.ID "levelType" "blind"}}" hx-target="#timer_level_rows" hx-swap="beforeend" class="btn btn-sm btn-primary">Add
                    Blind</button>
                <button class="btn btn-sm btn-primary">Add Break</button>
            </div>
        </div>
    </div>

</div>